* {

    box-sizing: border-box;
}

:root {

    --black-color: #121212;
    --white-color: #D3D3D3;
    --border: 1.9px solid var(--white-color);

}

body {

    background-color: var(--black-color);
    color: var(--white-color);
    height: 100dvh;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-container {

    border: var(--border);
    width: 550px;
    aspect-ratio: 2/1.5;
    padding: 40px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 25px;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

#add-task-container {

    width: 90%;
    /* margin-top: 40px; */
    border: var(--border);
    border-radius: 10px;
    padding: 20px 0px;
    display: flex;
    justify-content: start;
    gap: 20px;
}

[name="add-task-input"] {

    background-color: transparent;
    border: var(--border);
    border-radius: 10px;
    color: var(--white-color);
    padding: 10px;
    width: 65%;
    margin-left: 20px;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 1.5px;
}

[name="add-task-input"]:focus {

    outline: none;
}

#add-task-button {

    background-color: var(--black-color);
    border: var(--border);
    border-radius: 10px;
    color: var(--white-color);
    padding: 10px;
    cursor: pointer;
    width: 20%;
    font-family: inherit;
    font-weight: 600;
}

#tasks-container {

    min-height: 60px;
    width: 90%;
    border: var(--border);
    border-radius: 10px;
    padding: 30px 0px;
    /* margin-top: 25px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.each-task {

    width: 97%;
    border: var(--border);
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

#tasks-container div [type="checkbox"] {

    accent-color: var(--black-color);
    outline: none;
    border-width: 0px;
}

[name="task-name"] {

    background-color: transparent;
    color: var(--white-color);
    border: 0px;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 1.5px;
    transform: translateX(5px);
}

[name="task-name"]:focus {

    outline: none;
}

#tasks-container div button {

    background-color: transparent;
    color: #FF846D;
    border-width: 0px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.7rem;
}

.custom-checkbox {

    transform: translateY(5px);
    display: inline-block;
    width: 20px;
    cursor: pointer;
}

.custom-checkbox img {

    width: 100%;
}