* {

    box-sizing: border-box;
}

:root {

    --black-color: #121212;
    --white-color: #D3D3D3;
    --border: 1.9px solid var(--white-color);
}

body {

    background-color: var(--black-color);
    height: 100dvh;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-container {

    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
    border: var(--border);
    border-radius: 10px;
    width: 550px;
    aspect-ratio: 2/1.5;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

#add-task-container {

    border: var(--border);
    border-radius: 10px;
    width: 90%;
    padding: 25px 20px;
    display: flex;
    justify-content: start;
    gap: 15px;
}

[name="add-task-input"] {

    border: var(--border);
    border-radius: 10px;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 600;
    letter-spacing: inherit;
    padding: 15px;
    flex-grow: 1;
}

[name="add-task-input"]:focus {

    outline: none;
}

#add-task-button {

    border: var(--border);
    border-radius: 10px;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 600;
    width: 20%;
    padding: 10px;
    cursor: pointer;
}

#tasks-container {

    border: var(--border);
    border-radius: 10px;
    width: 90%;
    min-height: 60px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 15px;
}

.each-task {

    border: var(--border);
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.custom-checkbox {

    width: 20px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox img {

    width: 100%;
}

[name="task-name"] {

    border: 0px;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 600;
    letter-spacing: inherit;
    flex-grow: 1;
}

[name="task-name"]:focus {

    outline: none;
}

#tasks-container div button {

    border-width: 0px;
    background-color: var(--black-color);
    color: #FF846D;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.7rem;
    cursor: pointer;
}